<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="./login" method="post">
    <table align="center">
        <tr>
            <td>mobile</td>
            <td><input type="text" name="mobile" /></td>
        </tr>
        <tr>
            <td>password</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td align="center"><input type="submit" value="submit"/></td>
        </tr>
    </table>
</form>
<p>收到的mobile参数是：{mobile}</p>
<p>收到的password参数是：{password}</p>
<img src="./showimg">
</body>
</html>